{% load static %}
<!DOCTYPE  html>
<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <title >  {% block title %}   {% endblock %} </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



    <link rel="stylesheet" href="{% static 'default.css' %}">
    <link rel="stylesheet" href="{% static 'equal-height.css' %}">

</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Spend</h1>
            {% for msg in messages %}
            {% if msg.tags == 'success' %}
                <div class="alert alert-success alert-dismissible" style="width: fit-content;margin-left: 300px;"> 
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ msg }} 
                </div>
            {% elif msg.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible" style="width: fit-content;margin-left: 300px;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ msg }} 
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">Spend</a>
                </div>

                <ul class="nav navbar-nav">
                    <li class = {% if page == 'home' %} 'active' {% endif %} > <a href="{% url 'index' %}">Home</a> </li>
                    {% if user %}
                    <li class = {% if page == "cart" %} "active" {% endif %} > <a href="{% url 'cart' %}">Cart
                        {% if items > 0 %}
                            <button type="button" class="btn btn-danger btn-xs">  {{ items }} </button>
                        {% endif %}
                        
                    </a>  </li>
                    {% endif %}
                </ul>    
                <ul class="nav navbar-nav navbar-right">
                    
                    {% if user.is_authenticated %}
                         
                        <li>  <a href="#" class="username-display"><p style="color: black;">{{ user.username }}</p>   </a>  </li>
                        <li> 
                            <a href="{% url 'logout' %}" class="right-nav-display">     
                              <button type="button" class="btn btn-danger">logout </button>
                            </a> 
                        </li> 
                    {%  else  %}
                    <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
            </div>

        </nav>

        <div class="row">
            <div class="col-sm-12">
                {% block content %}{% endblock %}
            </div>
        </div>

        
        
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"  crossorigin="anonymous"></script>

</body>

</html>
