
.clearfix {
    clear: both;
}

.messages {
    background-color: #c0c0c0;
    color: #fff;
    padding: 1em;
}

.success {
    background-color: #008800;
    border-color: #005500;
    padding-left: 1em;
}

.alert-error {
    background-color: rgba(255, 0, 0, 0.5);

}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}


.login_container {
    background-color: white;
    margin-top: 100px;
    margin-left: 500px;
    width: 350px;
    padding : 10px 10px 10px 10px;
}

.username-display {
    margin-bottom: -20px;
    margin-top: -3px;
    font-weight: bold;
    padding-bottom: 0px;
}

.right-nav-display {
    margin-bottom: -20px;
    margin-top: -5px;
}